.header {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    border: 1px solid rgb(195, 195, 195);
}
.header__left {
    display: flex;
    align-items: center;
    padding: 4px;
}
.header img {
    height: 40px;
    object-fit: contain;
    margin-right: 5px;
}
.header__search {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20vw;
    padding: 10px;
    background-color: #EEF3F8;
    color: gray;
}
.header__search > input {
    outline: 0;
    border: 0;
    background-color: transparent;
    border-radius: 5px;
}
.header__right{
    display: flex;
}